packaging >= 21.3
faker >= 21.0.0, <22.0.0

pii-data >= 0.5.0, <1.0.0

e2e: pii-preprocess >= 0.1.0, <1.0.0
e2e: pii-extract-base >= 0.6.1, <1.0.0
e2e: pii-extract-plg-regex >= 0.5.0, <1.0.0
e2e: pii-extract-plg-transformers >= 0.1.2, <1.0.0
e2e: pii-decide >= 0.1.0, <1.0.0
